.red {
  color: red;
}

.cardWrap {
  width: 98%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.setting {
  width: 15%;
  border: 1px solid #000;
}
.map {
  width: 84%;
  border: 1px solid #000;
}
.cv1 {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
  margin: 5px;
}
